/*BARRE DE NAVIGATION*/

.logo{
  background-image: url("https://www.simplonlyon.fr/promo6/mfernandez/ecommerce/uploads/product/mamaflo-logo.png");

  height: 48px;
  width: 125px;
  background-size: cover;
}

.navbar{
  font-size: 22px;
  background-color: none;
}
.size_cat{
  font-size: 50px;
}

.nav-link{
  /*font-size: 14px !important;*/
  font-size: 12px !important;
}

/*FIN BARRE DE NAVIGATION*/

/*DEBUT CARD PAGE ACCUEIL*/
.card{
  width:100%;
  border:solid 8px !important;
  height:550px;
}

.img-style{
margin-top: -38px;
text-align: center;
width: 300px;
border:none;
margin-left: 7px;
}

/*FIN CARD PAGE ACCUEIL*/

.tableau{
  text-align: center;
  border: 1px solid #069;
}