{% extends "base.html.twig" %} {% block content %}


<div class="container">
  <div class="form-group">
    {{form_start(form)}} 
    {{form_widget(form)}}
    <button>
      {% if editMode %} 
      Enregistrer 
      {% else %} 
      Ajouter le produit 
      {% endif %}

    </button>
    {{form_end(form)}}
  </div>
</div>

<br> {% endblock content %}