{% extends "base.html.twig" %}



{% block content %}


<header class="jumbotron my-4">
    <center>
        <h2 class="display-3">Do you want some Chips?</h2>
        <h3 class="lead">MaMaFlo a tout pour vous!</h3>
    </center>
</header>


<h2>MON PANIER</h2>

{% for lineShoppingCart in shoppingCart.getLineShoppingCarts() %}
    <div>
        <div >
            <p>Produit : {{lineShoppingCart.product.designation}}</p>
        </div>
        <p>Quantité : {{lineShoppingCart.quantity}}</p>
        <p>Prix Total Produit : {{lineShoppingCart.price}} €</p>
        <a href="{{path('deleteLSC', {'id':lineShoppingCart.id})}}" class="btn btn-outline-secondary">Supprimer</a>
    </div>
    {% endfor %}
    <div >
        <p>Prix Total Panier : {{shoppingCart.totalPrice}} €</p>
    </div>

{% endblock content %}